.container
  .row
    .col-xs-12
      %h1 All spots
  .row
    .col-xs-12
      %table.table.table-striped.table-responsive
        %thead
          %th Name
          %th Status
          %th Actions
        %tbody.table-hover
          - @spots.each do |spot|
            %tr
              %td= spot.name
              %td= spot.status
              %td
                = link_to 'Show', spot, class: 'btn btn-default pull-right'
                = link_to 'Edit', edit_spot_path(spot), class: 'btn btn-default pull-right'
                = link_to 'Destroy', spot, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default pull-right'
  .row.admin-table
    .col-xs-12
      = link_to 'New Spot', new_spot_path, class: 'btn btn-default'
