.container
  .row
    .col-xs-12
      %h1 All spots
  .row
    .col-xs-12
      %table.table.table-striped.table-responsive
        %thead
          %th Name
          %th State
          %th Actions
        %tbody.table-hover
          - spots.each do |s|
            %tr
              %td= s.name
              %td
                %span{ class: s.decorate.state_class }= s.state
              %td
                = link_to 'Show', s, class: 'btn btn-default pull-right'
                = link_to 'Edit', edit_spot_path(s), class: 'btn btn-default pull-right'
                = link_to 'Destroy', s, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default pull-right'
  .row.admin-table
    .col-xs-12
      = link_to 'New Spot', new_spot_path, class: 'btn btn-default'
