- if orders.count > 0
  .container
    .row
      .col-xs-12
        %h1
          You're currently cooking
          %span.label.label-default= orders.count
          = 'order'.pluralize(orders.count)
    .row
      .col-xs-12
        %table.table.table-striped.table-responsive
          %thead
            %th Id
            %th State
            %th Amount
            %th Actions
          %tbody.table-hover
            - orders.each do |o|
              %tr
                %td= o.id
                %td
                  %span.label.label-default= o.state
                %td= o.amount
                %td
                  = link_to 'Cook', cook_order_path(o), method: :put, class: 'btn btn-default'

