.container
  .row
    .col-xs-12
      %h1
        You have currently
        %span.label.label-default= spots.count
        = 'spot'.pluralize(spots.count)
  .row
    - spots.each do |s|
      .col-xs-12.col-sm-6
        .panel{ class: s.decorate.panel_class }
          .panel-heading
            %h3.panel-title= s.name
          .panel-body
            %ul.list-group
              %li.list-group-item
                %strong Balance
                = s.balance
              %li.list-group-item
                %table.table.table-striped.table-responsive
                  %thead
                    %th #id
                    %th State
                    %th Actions
                  %tbody.table-hover
                    %h4 Orders
                    - s.orders.each do |so|
                      %tr
                        %td= so.id
                        %td
                          %span.label.label-default= so.state
                        %td
