.container
  .row
    .col-xs-12
      %h1
        You have currently
        %span.label.label-default= spots.count
        = 'spot'.pluralize(spots.count)
  .row
    - spots.each do |s|
      .col-xs-12.col-sm-6
        .panel{ class: s.decorate.panel_class }
          .panel-heading
            %h3.panel-title= s.name
          .panel-body
            %ul.list-group
              %li.list-group-item
                %strong Balance
                = s.balance
              %li.list-group-item
                = render partial: 'orders/orders_table', locals: { orders: s.orders }
            = link_to 'Close / accept payment', close_spot_path(s), method: :put, class: 'btn btn-default', data: { confirm: 'Are you sure?' }
