.container
  .row
    .col-xs-12
      %h1 All users
  .row
    .col-xs-12
      %table.table.table-striped.table-responsive
        %thead
          %th Email
          %th Type
          %th Status
          %th Actions
        %tbody.table-hover
          - users.each do |u|
            %tr
              %td= u.email
              %td
                %span.label{ class: "label-#{u.label_class}" }= u.type
              %td
                - if u.client?
                  %span.label{ class: "label-#{u.state_class}" }= u.status
              %td
                = link_to 'Delete', u, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default pull-right'
                = link_to 'Show', u, class: 'btn btn-default pull-right'
                = link_to 'Edit', edit_user_path(u), class: 'btn btn-default pull-right'
