.row
  .col-xs-12
    %table.table.table-striped.table-responsive
      %thead
        %th Id
        %th State
        %th Amount
        %th Actions
      %tbody.table-hover
        - orders.each do |o|
          %tr
            %td= o.id
            %td
              %span.label.label-default= o.state
            %td= o.amount
            %td
              = link_to 'Show', '#', class: 'btn btn-default pull-right'
              - if o.ready_to_cook? && current_cook?
                = link_to 'Cook', cook_order_path(o), method: :put, class: 'btn btn-default pull-right'
              - if o.ready_to_deliver?(current_user.id) && current_waiter?
                = link_to 'Deliver', deliver_order_path(o), method: :put, class: 'btn btn-default pull-right'
              - if o.ready_to_finish?(current_user.id) && current_cook?
                = link_to 'Finish', finish_order_path(o), method: :put, class: 'btn btn-default pull-right'
